.mobile-menu-content {
  visibility: hidden;
  position: fixed;
  top: var(--headerHeight);
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  transition: visibility 400ms ease-in-out;
  z-index: -1;
  * {
    background-color: hsl(var(--background));
    clip-path: inset(0% 0% 100%);
    transition: clip-path 400ms ease-in-out;
  }
}

#mobile-menu-toggle:checked + .mobile-menu-content {
  visibility: visible;

  * {
    clip-path: inset(0%);
  }
}
